body {
  margin: 0,;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer-padding {
  padding-bottom: 15em;
  background-color: #6C757E;
}

.work-dates {
  float: right;
  padding-right: 10em;
}

.position-dates {
  padding-left: 3em;
}



