body {
  margin: 0,;
  padding: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Mobile Style*/
/*Nav Bar*/
.nav {
  margin-top: 3vh;
  display: block;
}

.nav-link {
  color: #ffffff;
  text-align: center;
  font-size: 8vw;
  font-weight: bold;
  border-bottom: solid 2px #000000;
  width: 80%;
  margin: 0 auto;
}

/*Home Page*/
.landing {
  text-align: center;
  margin-top: 6vh;
}

.landing h1{
  font-size: 8vh;
}

.landing p {
  font-size: 1.75vh;
}

/*Footer*/
.footer {
  padding-top:2vh;
  text-align: center;
  position: fixed;
  height: 10vh;
  clear: both;
  bottom:0;
  left:0;
  right:0;
  border-top: solid 2px #000000;
  background-color: #000000;
}

.footer img {
  height: 5vh;
}

.footer a {
  padding: 10vw;
}

/*Contact*/
form {
  margin-top: 5vh;
  margin-bottom:20vh;

}

input, label {
  display: block;
  text-align: center;
  margin: 0 auto;
}

input, textarea {
  width: 80%;
  border: solid 1px #000000;
}

textarea {
  display: block;
  margin: 0 auto;
  height: 15vh;
}

label {
  font-size: 3.5vh;
}

.contact-button {
  display: block;
  margin: 2vh auto;
  font-size: 3.5vh;
  padding: 1vh;
  background-color: #ffffff;
}

/*About*/
.about {
  margin-bottom: 12vh;
  font-size: 2.5vh;
}

.about h1 {
  font-size: 4.5vh;
  width: 45%;
  text-align: center;
  margin: 2vh auto;
}

.about img {
  display: none;
}

.about p {
  font-size: 3.2vh;
  margin: 0 7vw;
}

/*Resume*/
.resume {
  margin: 0 5vw 12vh 5vw;
}

.resume h3 {
  font-size: 4vh;
  text-align: center;
  padding-top: 7vh;
  padding-bottom: 3.5vh;
}

.resume h4 {
  text-align: center;
}

.experince-head {
  padding-left: 3vw;
}

.experience-description {
  padding-left: 6vw;
}

/*Projects*/
.projects {
  margin-bottom: 12vh;
}

.projects h1 {
  font-size: 5vh;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3.5vh;
}

.projects h2 {
  text-align: center;
  font-weight: bold;
  border-top: solid 1px #000000;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.projects a img {
  height: 33vh;
  display: block;
  margin: 0 auto;
  padding: 3vh 0;
}

.projects figcaption {
  text-align: center;
  margin-bottom: 8vh;
}

@media only screen and (min-width: 768px) {
  /*Nav Bar*/
  .nav {
    display: flex;
    flex: flex-row;
    
  }

  .nav-link {
    text-align: center;
    font-size: 6vw;
    border-bottom: none;
    width: 50%
  }
  
  /*Home Page*/
  .landing h1{
    font-size: 12vh;
  }
  
  .landing p {
    font-size: 2.5vh;
  }

  /*Footer*/
  .footer {
    margin-top: 37vh;
  }

  .footer a {
    padding: 5vw;
  }

  /*Contact*/
  input, textarea {
    margin-bottom: 3vh;
  }

  input {
    height: 5vh;
  }

  .about img {
    display: block;
    margin: 0 auto;
    height: 20vh;
    margin-top: 3vh;
  }

  .about h1 {
    font-size: 6vh;;
  }

  /*Projects*/
  .projects h1 {
    font-size: 7vh;
  }

  .projects h2 {
    font-size: 5vh;
  }

  .projects a img {
    height: 45vh;
  }

  .projects figcaption {
    font-size: 2.5vh;
  }
}


@media only screen and (min-width: 992px) {
  /*Nav Bar*/
  .nav {
    margin-left: 60vw;
  }
  
  .nav-link {
    display: inline;
    width: 25%;
    font-size: 2.5vh;
    padding-left: 0;
    padding-right: 0;
  }

  /*Home Page*/
  .landing {
    padding-top: 17vh;
  }

  /*Footer*/
  .footer {
    padding-bottom: 25vh;
    padding-left: 1vw;
    border-top: none;
    background: none;
    max-width: 10vh;
  }

  .footer img{
    display: block;
  }

  /*Contact*/
  form {
    margin-left: 6vw;
  }

  label {
    text-align: left;
  }

  input {
    text-align: left;
  }

  input, textarea {
    display: inline-block;
    width: 50%;
  }

  .contact-button {
    margin: 3vh 0 0 0;
  }

  /*About*/
  .about img {
    height: 40vh;
  }

  .about p {
    width: 75%;
    margin: 0 auto;
  }

  /*Resume*/
  .resume h3 {
    font-size: 10vh;
  }

  .resume h4 {
    text-align: left;
    font-size: 7vh;
  }

  /*Projects*/
  .projects {
    margin-left: 12vw;
  }

  .projects h2 {
    width: 90%
  }

  .projects a img {
    height: 60vh;
  }
}