body {
  margin: 0,;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Mobile Style*/
.nav {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}

.nav-link {
  color: #000000;
  width: 50%;
  text-align: center;
  font-size: 10vw;
}

.landing {
  text-align: center;
  margin-top: 10vh;
}

.landing h1{
  font-size: 8vh;
}

.landing p {
  font-size: 1.75vh;
}

.footer {
  width: 100%;
  text-align: center;
  margin-top: 45vh;
}

.footer img {
  height: 7vh;
}

.footer a {
  padding: 10vw;
}


@media only screen and (min-width: 768px) {
  .nav-link {
    color: #000000;
    text-align: center;
    font-size: 6vw;
  }
  
  .landing h1{
    font-size: 12vh;
  }
  
  .landing p {
    font-size: 2.5vh;
  }

  .footer {
    margin-top: 37vh;
  }

  .footer a {
    padding: 5vw;
  }
}


@media only screen and (min-width: 992px) {
  .nav {
    margin-left: 60vw;
  }
  
  .nav-link {
    font-size: 2.5vh;
    width: 17%;
  }

  .landing {
    padding-top: 17vh;
  }

  .footer {
    position: absolute;
    bottom: 0;  
  }

  .footer img {
    padding-left: 1vw;
    display: block;
    height: 5vh;
  }
}